.cardList {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}

.selectedCardDiv {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}