.comparedCard {
  align-items: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 15px;
  margin: .2rem;
  width: 15.5%;
  height: 23rem;
}

.comparedName {
  font-size: 1.5rem;
  color: black;
}

.averages {
  font-size: 1.8rem;
  margin: 0rem;
  color: white}

.compared {
  font-size: 2rem;
  color: #694460
}
 p {
   margin: 0;
   padding: 0;
 }