.comparedCard {
  align-items: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);  border: solid 2px black;
  border: solid 2px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 23rem;
  justify-content: space-between;
  margin: .2rem;
  width: 14rem;
}

.comparedName {
  color: black;
  font-size: 1.5rem;
}

.averages {
  color: white;
  font-size: 1.8rem;
  margin: 0rem;
}

.compared {
  color: #694460;
  font-size: 2rem;
}
 p {
  margin: 0;
  padding: 0;
 }